# Ignore SSH keys
puppet-ssh-key
**/private_key


# Ignore changes in the machines instances
**/ubuntu-bionic-18.04-cloudimg-console.log
**/ubuntu-xenial-16.04-cloudimg-console.log
**/.vagrant\machines